*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1365px;
  width: 100%;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

._signup1 {
  max-width: 600px;
  width: 96%;
  margin: 30px auto;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  padding: 20px 40px;
  text-align: center;
}

._signup2 {
  font-size: 31px;
  margin-bottom: 14px;
}

._signup3 {
  margin-bottom: 12px;
}

._signup3 label {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  padding-left: 5px;
  padding-bottom: 4px;
}

._signup3 input {
  width: 100%;
  height: 50px;
  padding: 6px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.han_btn {
  display: block;
  width: 100%;
  border: none;
  background: #44d;
  padding: 6px 12px;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
  margin: 18px 0px 9px;
  border-radius: 6px;
  color: #fff;
  transition: all 0.2s ease;
}

.han_btn:hover {
  opacity: .8;
}

._btnLogout {
  position: absolute;
  top: 20px;
  right: 20px;
}

._btnLogout button {
  background: #44d;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  width: 150px;
  border-radius: 6px;
}
._Frg_pas1 {
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
._Frg_pas2 {
  width: 90%;
  background: #fff;
  box-shadow: 0 0 4px -2px #333;
  padding: 30px 15px;
  border-radius: 6px;
  text-align: center;
}
._Frg_pas2 p {
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  margin-bottom: 30px;
}
._Frg_pas3 label {
  display: block;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 3px;
}
._Frg_pas3 input {
  width: 100%;
  padding: 15px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  height: 60px;
}
._Frg_pas4 {
  margin-top: 12px;
}
._Frg_pas4 button {
  display: block;
  width: 100%;
  background: #44d;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  color: #fff;
  cursor: pointer;
}
._Frg_pas2 h2 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
._Frg_pas3 {
  margin-bottom: 15px;
}